# Teaching notes on Python Programming
Based on the book Python Programming : A Modular Approach by Sheetal Taneja, Naveen Kumar

# Python Programming : An Introduction

Python is an interactive programming language developed by Guido Van Rossum in 1991. Python is used in various application areas such as the web, gaming, scientific and numeric computing, text processing and network programming.

In [2]:
print('Hello World!')

Hello World!

In [1]:
print(18+4)
print(18*5)

22
90

In [3]:
print ( 20 / 5 )
print ( 20 // 5)

print(27 / 5)
print( 27 // 5 )

print ( 27.0 // 5)

print( 27 % 5)

4.0
4
5.4
5
5.0
2

### Left Associative Operators

In [22]:
6 / 3 // 2

1.0

### Right Associative Operators

In [5]:
2 ** 3 ** 2

512

### Precedence of operators

### Python Strings

A Python string may be enclosed within single, double or triple quotes. """ is also known as docstring may include both single and double quotes and may extend over several lines.

In [24]:
print("""Hello
     World
What's happening?""")

Hello
     World
What's happening?

### + Concatenation operator

In [13]:
print('how '+'are '+'you ?')

how are you ?

### * Repeat a string several times

In [25]:
print('hello '*5)

hello hello hello hello hello

### Relational Operators

### ==
### <
### >
### <=
### >=
### !=

### Logical Operators

The logical operators not, and, and or are applied to logical operands True and False, also called Boolean values, and yield True or False.

In [29]:
print((1 < 5) and (( 5/ 2) < 10))

True

Precedence of operators:
Arithmetic operators
Relational operators
Logical operators

In [4]:
(( not (9 == 8)) and (( 7 + 1 )!= 8 )) or (6 < 4.5)

False

### Bitwise Operators

<table  border="2" cellspacing="2">
    <tr>   <th> Bitwise operator</th>><th> Example </th> </tr>
    <tr>   <td> x &amp; y       </td><td>    10  &amp;6 yields 2:  00001010 &amp; 00000110 = 00000010 </td> </tr>
    <tr>   <td> x | y           </td><td>    10 | 6 yields 14:     00001010 &amp; 00000110 = 00001110 </td> </tr>
    <tr>   <td> ~x              </td><td>      ~11  yields -12:    00001011 = 11110100                </td> </tr>
    <tr>   <td> x ^ y           </td><td>    10 ^ 6 yields 12:     00001010 &amp; 00000110 = 00001100 </td> </tr>
    <tr>   <td> x &lt; &lt; y   </td><td>     5 &lt; &lt; 2 yields 20: 00000101 &lt; &lt;  00000010= 00010100 </td> </tr>
    <tr>   <td> x &gt; &gt; y  </td><td>    5 &gt; &gt; 2 yields 1: 00000101   &gt; &gt;00000010=  00000001 </td> </tr>
</table>

### Variables and assignment statements
In Python the variable refers to a value

In [2]:
english=7
maths=62
computer=62
print(computer)
computer="cs"
print(computer)

62
cs

<h6> pythontutor.com</h6>

<img width="500" height="600" src="images/variables.jpg" alt="pythontutor.com">

In [6]:
a,b,c=2,3,4


a=a+5
print(a)
a+=5
print(a)
a= a + b + c
print(a)
a+=b + c
print(a)

7
12
19
26

<h6> Swap values </h6>

In [ ]:
num1=2
num2=10
num1,num2=num2,num1
print(num1,num2)

<h6> Jupyter Notebook presentation prepared by Avinash Patil </h6>